{% extends "layout.html" %}

{% set title = 'パスワード変更' %}
{% set page_class = 'layout-setting' %}

{% block contents %}
<section class="setting-submenu">
  <ul>
    <li class="setting-submenu__on">
      <a href="{{ url_for('change_password') }}">パスワード変更</a>
    </li>
    <li>
      <a href="{{ url_for('change_email') }}">メールアドレス変更</a>
    </li>
    <li>
      <a href="{{ url_for('delete_account') }}">アカウント削除</a>
    </li>
  </ul>
</section>

<h2>パスワード変更完了</h2>

<section class="setting-completion">
  <p class="setting-completion__pass">パスワードを変更しました。</p>
  <a href="{{ url_for('file_list')}}" class="setting-completion__backbtn">一覧へ戻る</a>
</section>
{% endblock %}
