{% extends "layout.html" %}

{% set title = 'メールアドレス変更' %}
{% set page_class = 'layout-setting' %}

{% block contents %}
<section class="setting-submenu">
  <ul>
    <li>
      <a href="{{ url_for('change_password') }}">パスワード変更</a>
    </li>
    <li class="setting-submenu__on">
      <a href="{{ url_for('change_email') }}">メールアドレス変更</a>
    </li>
    <li>
      <a href="{{ url_for('delete_account') }}">アカウント削除</a>
    </li>
  </ul>
</section>

<h2>メールアドレス変更</h2>

<section class="setting-form">
  <form action="{{ url_for('change_email') }}" method="post">
    <label>新しいメールアドレス</label>
    <input type="email" name="email" class="{% if error %}has_error{% endif %}">
    <label>パスワード</label>
    <input type="password" name="password" class="{% if error %}has_error{% endif %}">
    {% if error %}
    <p class="setting-form__errormessage">{{ error }}</p>
    {% endif %}
    <button type="submit" class="setting-form__button setting-form__button--before" disabled="disabled">変更する</button>
  </form>
</section>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
<script>
  $(function() {
    $(':input').on('keyup', function() {
      if($('input').filter(function() {return $(this).val() === ''}).length) {
        $('.setting-form__button').addClass('setting-form__button--before').prop('disabled', true)
      } else {
        $('.setting-form__button').removeClass('setting-form__button--before').prop('disabled', false)
      }
    });
  });
</script>
{% endblock %}
