{% extends "layout.html" %}

{% set title = 'パスワード再設定' %}
{% set page_class = 'layout-setting' %}

{% block header %}
<h1>umakaviewer</h1>
{% endblock %}

{% block contents %}
<section class="setting-submenu"></section>

<h2>パスワード再設定</h2>

<section class="setting-completion">
  <div class="setting-completion__mail">
    <p>
      下記メールアドレスに、パスワード再設定用のURLを送りしました。<br />
      再設定をお願いします。
    </p>
    <p>
      {{ email }}
    </p>
  </div>
  <a href="{{ url_for('login')}}" class="setting-completion__backbtn">ログイン画面へ戻る</a>
</section>
{% endblock %}
