[Unit]
Description=UmakaViewer

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/umaka_v/repos/umakaviewer/deploy/run.sh start
ExecStop=/home/umaka_v/repos/umakaviewer/deploy/run.sh stop
Restart=always
RestartSec=120s
User=umaka_v
Group=umaka_v
Type=simple

[Install]
WantedBy=multi-user.target
